.box{
    background-color: rgb(217, 246, 245);
    width: 15%;
    padding: 20px ;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    flex-basis: calc(33.33% - 10px);
    /* margin: 5px; */


    
}
.image{
    width: 400px;
    display: block;
    padding: 20px;
}
.main{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}
.first-in-row {
    flex-basis: 100%;
  }
  